.card_contaner {
    margin: 15px;
    background-color: #d4d0d0;
    border: none;
    border-radius: 30px;
    min-height: 300px;
    min-width: 300px;
    text-decoration: none;
}

.imgcrd {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.imgcrd img {
    border-radius: 40px;
    padding: 15px;
    width: 40%;
}

.price {}

.orders {
    padding: 20px;
    text-align: right;
}


.cardtitle {
    padding: 15px;
    width: 80%;
}

.carddes {
    max-height: 100px;
    overflow: hidden;
        padding: 15px;


}

.cardtitle {
    text-align: center;
}

.price,
.cardtitle,
.carddes {
    color: rgb(0, 0, 0);
    font-size: 25px;
}