.navbar {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EDE0D4;
    color: black;
}

.navbar-toggle {
    cursor: pointer;
    font-size: 20px;
    visibility: hidden
}

#btnlogout {
    width: 100px;
    border-radius: 25px;
    background-color: #EDE0D4;
    margin-left: 20px;
}

.navbar-links {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.navbar-links li a {
    margin: 1rem;
}

.navbar-links.active {
    display: flex;
    /* Show the navigation links when active class is applied */
    flex-direction: column;
    align-items: flex-start;
}


.navbar-links li a {
    font-size: 25px;
    color: black;
    text-decoration: none;
}

@media only screen and (max-width:900px) {
    .navbar-toggle {
        display: flex;
        direction: rtl;
        visibility: visible
    }

    .navbar-links {
        display: none;
        list-style-type: none;
        justify-content: space-between;
    }

}


#btnheader {
    background-color: rgb(61, 41, 41);
    color: rgb(255, 255, 255);
    list-style: none;
    padding: 8px;
    border-radius: 15px;
}